<footer class="py-6 text-white bg-gray-900">
  <div class="container flex justify-center mx-auto">
    <a href="https://www.facebook.com/profile.php?id=100091984830340&_rdc=1&_rdr"
       class="p-2 mr-4 text-gray-400 bg-transparent rounded-full hover:text-white"
       target="_blank">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    <a href="https://twitter.com/DevsUpiics48486"
       class="p-2 mr-4 text-gray-400 bg-transparent rounded-full hover:text-white"
       target="_blank">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    <a href="https://www.instagram.com/bbupiicsa/"
       class="p-2 mr-4 text-gray-400 bg-transparent rounded-full hover:text-white"
       target="_blank">
      <i class="fa fa-instagram fa-lg"></i>
    </a>
    <a href="https://github.com/BinaryBrainsUPIICSA"
       class="p-2 text-gray-400 bg-transparent rounded-full hover:text-white"
       target="_blank">
      <i class="fa fa-github fa-lg"></i>
    </a>
  </div>
</footer>
