<nav class="p-6 fixed top-0 left-0 w-full bg-[#060513] z-10">
    <div class="flex flex-col lg:flex-row w-[75%] mx-auto justify-between items-center gap-4 lg:gap-0">
      <img src="assets/images/logo.svg" alt="Binary Brains logo" class="h-12">
      <div class="flex flex-col md:flex-row md:gap-16 items-start md:items-center">
        <a class="text-white font-extralight hover:text-[#5CCDFF]" [routerLink]="currentPath" fragment="inicio">
          <span class="text-[#4BA2C9] ">01-</span> Bienvenida</a>
        <a class="text-white font-extralight hover:text-[#5CCDFF]" [routerLink]="currentPath" fragment="eventos">
          <span class="text-[#4BA2C9]">02-</span> Eventos próximos</a>
        <a class="text-white font-extralight hover:text-[#5CCDFF]" [routerLink]="currentPath" fragment="repos">
          <span class="text-[#4BA2C9]">03-</span> Repositorios populares</a>
      </div>
    </div>
</nav>
