<div class="custom-cursor -z-10"></div>
<main class="flex flex-col gap-16 mb-4 overflow-y-hidden">
  <section class="flex justify-center gap-4 px-8 pb-24 pt-72 md:px-36 md:pb-48 lg:p-48" id="inicio">
    <div class="flex flex-col text-white w-full lg:w-[75%] gap-4">
      <span class="text-2xl text-[#4CA4CA] pl-1">Hola, somos</span>
      <h1 class="text-6xl text-[#4CA4CA] font-bold">Binary Brains</h1>
      <p class="text-2xl text-[#B1D9EB] pl-1">
        Club de Desarrollo de Software en UPIICSA: Aprendiendo y creciendo juntos en tecnología.
      </p>
      <div class="pl-1">
        <a href="https://forms.gle/h81o2CYZyEGUznY59" target="_blank" class="button">
          Registrate
        </a>
      </div>
    </div>
  </section>

  <!--  02.- Eventos proximos-->
  <section class="flex flex-col gap-16 items-center" id="eventos">
    <header class="flex items-center text-2xl font-bold w-[90%]">
      <div class="w-min lg:w-max text-right font-extralight mr-2">
        <h3><span class="text-[#4EBAE0]">02-</span>Eventos proximos</h3>
      </div>
      <div class="flex-grow h-0.5 bg-white"></div>
      <div class="w-5 h-5 transform rotate-45 bg-white"></div>
    </header>

    <a href="https://lu.ma/BinaryTalks" class="flex justify-center no-underline w-[90%] lg:w-1/2">
      <article class="rounded-lg card-hover">
        <img class="w-full rounded-lg" src="assets/images/bb.webp" alt="Evento Binary Talks">
        <div class="px-6 py-4">
          <header class="flex justify-between mb-2 text-xl font-bold">
            <h3 class="text-[#4CA4CA]">Binary Talks</h3>
            <div class="flex flex-col items-center justify-center border-2 border-solid rounded-lg luma-border">
              <div class="text-sm bg-red-800 w-full lu-ma px-4 rounded-t-[7px] text-[#B1D9EB] ">OCT</div>
              <div class="bg-green-600 w-full lu-ma-day px-4 rounded-b-[7px] text-[#B1D9EB] ">10</div>
            </div>
          </header>
          <div class="grid grid-cols-[40px_1fr] lg:grid-cols-[40px_1fr_40px_1fr] gap-4 items-start">
            <!-- Fecha -->
            <div class="flex flex-col items-center justify-center border-2 border-solid rounded-lg luma-border h-10 w-10">
              <div class="text-sm bg-red-800 w-full lu-ma px-2 rounded-t-[7px] text-[12px] text-[#B1D9EB] ">OCT</div>
              <div
                class="bg-green-600 w-full lu-ma-day px-2 rounded-b-[7px] text-[12px] flex justify-center text-[#B1D9EB] ">
                10
              </div>
            </div>
            <div class="flex flex-col">
              <time class="text-[12px] text-[#B1D9EB]" datetime="2023-10-10">Martes, 10 de octubre</time>
              <span class="text-[12px] text-[#B1D9EB]">10:00 a 17:00</span>
            </div>

            <!-- Ubicacion -->
            <div
              class="flex flex-col justify-center items-center border-2 border-solid luma-border rounded-lg px-3 text-[#B1D9EB] w-10 h-10">
              <mat-icon>location_on</mat-icon>
            </div>
            <div class="flex flex-col">
              <address class="text-[12px] text-[#B1D9EB] not-italic">Unidad Profesional Interdisciplinaria de Ingeniería y Ciencias Sociales y Administrativas.</address>
            </div>
          </div>
          <div class="text-base my-4 text-[#B1D9EB]">
            <p>Binary Brains trae nuevamente a diversos ponentes tales como Brujería Tech, DevCaress, Ingesaurio, Arelys
            Reyes y más. A su vez vendrán varias empresas y comunidades a los cuales podrás participar en sus actividades
            pensadas para que pases un momento divertido mientras aprendes.</p>

            <p>De preferencia trae tu laptop para que puedas estar al tanto de diversos talleres que se estarán llevando
            acabo donde podrás aprender de inteligencia artificial, Machine learning, Hacking ético y de más .a. Puedes
              agregar aquí información relevante.</p>
          </div>
        </div>
      </article>
    </a>
  </section>

  <!--  03.- Repositorios populares-->

  <section id="repos" class="flex flex-col gap-16 items-center">
    <header class="flex items-center text-2xl font-bold w-[90%]">
      <div class="w-5 h-5 transform rotate-45 bg-white"></div>
      <div class="flex-grow h-0.5 bg-white"></div>
      <div class="w-min lg:w-max text-right font-extralight ml-2">
        <h3>
          <span class="text-[#4EBAE0]">03-</span>
          Repositorios populares
        </h3>
      </div>
    </header>

    <div class="flex flex-row basis-full flex-wrap justify-center gap-4">
      <a *ngFor="let album of albums" [href]="album.link" target="_blank" rel="noopener noreferrer" class="w-[90%] md:max-w-sm overflow-hidden transition rounded shadow-lg cursor-pointer card-hover">
        <article>
          <img class="w-full opacity-90" [src]="album.image" [alt]="album.description">
          <div class="px-6 py-4">
            <h3 class="font-bold text-xl mb-2 text-[#4CA4CA]">{{album.title}}</h3>
            <p class="text-base text-[#B1D9EB]">
              {{album.description}}
            </p>
          </div>
          <footer class="flex flex-wrap px-6">
            <ng-container *ngFor="let tecnologia of album.tecnologias">
            <span class="inline-block px-3 py-1 mb-2 mr-2 text-sm font-light text-white rounded-full chips">
              <span class="text-[#4CA4CA]">{{tecnologia}}</span>
            </span>
            </ng-container>
          </footer>
        </article>
      </a>
    </div>
  </section>

</main>
